<nav class="navbar navbar-dark bg-dark header">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="movies">Les Films</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="movies/new">Ajouter un Film</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="edit/view/:id">Modifier vos Films</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="search-movie">Rechercher un Film</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signup">Créer un compte</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signin">Connexion</a>
      </li>
      <li>
        <a (click)="onSignOut()"
            style="cursor:pointer;
                  color: red;"
            *ngIf="isAuth">Déconnexion</a>
      </li>
    </ul>
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>

