<div class="row">
  <div class="col-xs-12">
    <img style="max-width:400px;" *ngIf="movie.Poster" [src]="movie.Poster">
    <h1>{{ movie.title}} </h1>
    <p>Réalisateurs /Acteurs: {{ movie.author }} </p>
    <h6> {{ movie.type }} </h6> 
    <p>{{ movie.synopsis}} </p>

    <!--<button class="btn btn-succes"> {{ movie.loveIts }} </button>
    <button class="btn btn-danger"> {{ movie.dontLoveIts }} </button>
    -->
    <span>
      <button type="button" class="btn btn-outline-dark" 
              (click)="onBack()">Retour</button>
    </span>
  </div>
</div>
