<div class="container">
<div class="row">
  <div class="col-md-12">
    <h2 class="titre_film">Vos Films</h2>
    <div class="list-group">
      <ul>
        <li 
            *ngFor="let movie of movies; let i = index"
            class="list-group-item">
      
              <h3 class="list-group-item-heading">
                {{ movie.title }} 
                <button class="btn btn-danger pull-right"
                        (click)="onDeleteMovie(movie)">Suprimer
                </button>
              </h3>

              <div class="test">
              <img  style="width:200px"
                    src="{{movie.Poster}}" 
                    alt="jaquette_de_film">

              </div>
              <button (click)="onViewMovie(i)"
                        type="button" 
                        class="btn btn-outline-info test_bouton">Voir les détails du film
              </button>

              <button (click)="onEditMovie(i)"
                        type="button" 
                        class="btn btn-outline-info test_bouton">Modifier
              </button>
              <span class="badge">
                <a href="edit/view/:id" class="edit" ng-click="edit(item)">[ Edit ]</a></span>
        </li>
       </ul>
       
    </div>
    
  </div>
</div>

<div class="bouton_new">
  <button class="btn btn-outline-success" 
        (click)="onNewMovie()">Nouveau Film</button>
</div>       

</div>