<div class="row container-creerCompte">
    <div class="col-sm-8 col-sm-offset-6">
      <h2>Connexion</h2>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Adresse Mail</label>
          <input type="text"
                  id="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="Entrer votre adresse mail">
        </div>
        <div class="form-group">
            <label for="password">Mot Passe</label>
            <input type="password"
                    id="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="Entrer votre Mot Passe">
        </div>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="signInForm.invalid">
        Connexion
        </button>
      </form>
      <p class="text-danger"> {{ errorMessage }}</p>
    </div>
  </div>